.container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    display: flex;
    gap: 10px;
}

.portfolio_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}